<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px; background-color: #FFFFFF;">
    <tr>
    </tr>
    <tr>
        <td class="pad0015" style="padding: 0px 0px 0px 0px; width: 100%;">
        <!--[if (gte mso 9)|(IE)]>
        <table align="center" border="0" cellspacing="0" cellpadding="0" width="300" style="width: 300px;">
        <tr>
        <td align="center" valign="top" width="300" style="width: 300px;">
        <![endif]-->
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td width="50%" align="center" valign="top" vertical-align="top" style="padding: 0px 0px 0px 0px">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 300px;">
                            <tr>
                                <td>
                                    <a href="https://www.the-citizenry.com/collections/all-new-arrivals?lid={{${cblid} | lid: 'o2sv3a1bp05e'}}"><img alt="New Arrivals" width="300" style="display: block; width: 300px; max-width: 100%; min-width: 50px; font-size: 14px; font-family: Arial, 'sans-serif'; color: #383633;" border="0" src="https://braze-images.com/appboy/communication/assets/image_assets/images/694f4b68f665e50073721a48/original.jpg?1766804328"></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="50%" align="center" valign="top" vertical-align="top" style="padding: 0px 0px 0px 0px">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 300px;">
                            <tr>
                                <td>
                                    <a href="https://www.the-citizenry.com/collections/all-back-in-stock?lid={{${cblid} | lid: '29y6uzjhqaoi'}}"><img alt="Back in stock" width="300" style="display:block; width: 300px; max-width: 100%; min-width: 50px; font-size: 14px; font-family: Arial, 'sans-serif'; color: #383633;" border="0" src="https://braze-images.com/appboy/communication/assets/image_assets/images/694f4b68f665e500637261b3/original.jpg?1766804328"></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        <!--[if (gte mso 9)|(IE)]>
        </td>
        </tr>
        </table>
        <![endif]-->
        </td>
    </tr>
    <tr>
    </tr>
</table>

<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px; background-color: #FFFFFF;">
    <tr>
    </tr>
    <tr>
        <td class="pad0015" style="padding: 0px 0px 0px 0px; width: 100%;">
        <!--[if (gte mso 9)|(IE)]>
        <table align="center" border="0" cellspacing="0" cellpadding="0" width="300" style="width: 300px;">
        <tr>
        <td align="center" valign="top" width="300" style="width: 300px;">
        <![endif]-->
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td width="50%" align="center" valign="top" vertical-align="top" style="padding: 0px 0px 0px 0px">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 300px;">
                            <tr>
                                <td>
                                    <a href="https://www.the-citizenry.com/collections/shop-all-bedding-2?lid={{${cblid} | lid: 'pabjp6o2rqdz'}}"><img alt="Bedding" width="300" style="display: block; width: 300px; max-width: 100%; min-width: 50px; font-size: 14px; font-family: Arial, 'sans-serif'; color: #383633;" border="0" src="https://braze-images.com/appboy/communication/assets/image_assets/images/690d1410fa882100651d0c0d/original.jpg?1762464783"></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="50%" align="center" valign="top" vertical-align="top" style="padding: 0px 0px 0px 0px">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 300px;">
                            <tr>
                                <td>
                                    <a href="https://www.the-citizenry.com/collections/shop-all-furniture?lid={{${cblid} | lid: '43za4a2o1zqn'}}"><img alt="Furniture" width="300" style="display:block; width: 300px; max-width: 100%; min-width: 50px; font-size: 14px; font-family: Arial, 'sans-serif'; color: #383633;" border="0" src="https://braze-images.com/appboy/communication/assets/image_assets/images/694f4b686967a0006453525e/original.jpg?1766804328"></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        <!--[if (gte mso 9)|(IE)]>
        </td>
        </tr>
        </table>
        <![endif]-->
        </td>
    </tr>
    <tr>
    </tr>
</table>

<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px; background-color: #FFFFFF;">
    <tr>
    </tr>
    <tr>
        <td class="pad0015" style="padding: 0px 0px 0px 0px; width: 100%;">
        <!--[if (gte mso 9)|(IE)]>
        <table align="center" border="0" cellspacing="0" cellpadding="0" width="300" style="width: 300px;">
        <tr>
        <td align="center" valign="top" width="300" style="width: 300px;">
        <![endif]-->
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td width="50%" align="center" valign="top" vertical-align="top" style="padding: 0px 0px 0px 0px">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 300px;">
                            <tr>
                                <td>
                                    <a href="https://www.the-citizenry.com/collections/shop-all-rugs-1?lid={{${cblid} | lid: 'srinnpqe6rhj'}}"><img alt="Rugs" width="300" style="display: block; width: 300px; max-width: 100%; min-width: 50px; font-size: 14px; font-family: Arial, 'sans-serif'; color: #383633;" border="0" src="https://braze-images.com/appboy/communication/assets/image_assets/images/694f4b68b7feff0063e82d35/original.jpg?1766804328"></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="50%" align="center" valign="top" vertical-align="top" style="padding: 0px 0px 0px 0px">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 300px;">
                            <tr>
                                <td>
                                    <a href="https://www.the-citizenry.com/collections/all-accents?lid={{${cblid} | lid: 'zpzcwjhywjfo'}}"><img alt="Accents" width="300" style="display:block; width: 300px; max-width: 100%; min-width: 50px; font-size: 14px; font-family: Arial, 'sans-serif'; color: #383633;" border="0" src="https://braze-images.com/appboy/communication/assets/image_assets/images/694f4b68dcb9ae00632bbc52/original.jpg?1766804328"></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        <!--[if (gte mso 9)|(IE)]>
        </td>
        </tr>
        </table>
        <![endif]-->
        </td>
    </tr>
    <tr>
    </tr>
</table>

<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px; background-color: #FFFFFF;">
    <tr>
    </tr>
    <tr>
        <td class="pad0015" style="padding: 0px 0px 0px 0px; width: 100%;">
        <!--[if (gte mso 9)|(IE)]>
        <table align="center" border="0" cellspacing="0" cellpadding="0" width="300" style="width: 300px;">
        <tr>
        <td align="center" valign="top" width="300" style="width: 300px;">
        <![endif]-->
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td width="50%" align="center" valign="top" vertical-align="top" style="padding: 0px 0px 0px 0px">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 300px;">
                            <tr>
                                <td>
                                    <a href="https://www.the-citizenry.com/collections/shop-all-pillows?lid={{${cblid} | lid: '5uot6cwrkwyn'}}"><img alt="Pillows" width="300" style="display: block; width: 300px; max-width: 100%; min-width: 50px; font-size: 14px; font-family: Arial, 'sans-serif'; color: #383633;" border="0" src="https://braze-images.com/appboy/communication/assets/image_assets/images/694f4b68aa54fb0063740313/original.jpg?1766804328"></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="50%" align="center" valign="top" vertical-align="top" style="padding: 0px 0px 0px 0px">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 300px;">
                            <tr>
                                <td>
                                    <a href="https://www.the-citizenry.com/collections/archive-sale?lid={{${cblid} | lid: '4i1yqtocqlsc'}}"><img alt="Archive Sale" width="300" style="display:block; width: 300px; max-width: 100%; min-width: 50px; font-size: 14px; font-family: Arial, 'sans-serif'; color: #383633;" border="0" src="https://braze-images.com/appboy/communication/assets/image_assets/images/690d1410be72dc0065b499ce/original.jpg?1762464783"></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        <!--[if (gte mso 9)|(IE)]>
        </td>
        </tr>
        </table>
        <![endif]-->
        </td>
    </tr>
    <tr>
    </tr>
</table>
{% assign billing_zip_var = {{custom_attribute.${shopify_zipcode}}} %}
{% assign zip_prefix = billing_zip_var | slice: 0, 3 %}
{% assign valid_dallas_prefixes = '{{content_blocks.${Geo_Dallas_TX} | id: 'cb1'}}' | split: ',' %}
{% assign is_valid_dallas_prefix = false %}
{% for prefix in valid_dallas_prefixes %}
{% if zip_prefix == prefix %}
{% assign is_valid_dallas_prefix = true %}
{% endif %}
{% endfor %}
{% assign valid_soho_prefixes = '{{content_blocks.${Geo_SoHo_NY} | id: 'cb2'}}' | split: ',' %}
{% assign is_valid_soho_prefix = false %}
{% for prefix in valid_soho_prefixes %}
{% if zip_prefix == prefix %}
{% assign is_valid_soho_prefix = true %}
{% endif %}
{% endfor %}
{% assign valid_denver_prefixes = '{{content_blocks.${Geo_Denver_CO} | id: 'cb3'}}' | split: ',' %}
{% assign is_valid_denver_prefix = false %}
{% for prefix in valid_denver_prefixes %}
{% if zip_prefix == prefix %}
{% assign is_valid_denver_prefix = true %}
{% endif %}
{% endfor %}
{% if is_valid_dallas_prefix or {{custom_attribute.${source}}} == "Materials_Matter_Event_RSVPs_Dallas" or {{custom_attribute.${source}}} == "Dallas Giveaway" or {{custom_attribute.${source}}} == "Dallas_Store_Opening_RSVPs" %}
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
    <tr>
        <td align="center" style="width: 100%">
            <a href="https://www.the-citizenry.com/pages/the-citizenry-dallas?lid={{${cblid} | lid: 'snlta63krnmn'}}">
                <img alt="Visit Your Local Store" width="600" style="display: block; width: 100%; max-width: 100%; font-size: 20px; font-family: Arial, 'sans-serif'; color: #383633; background-color: #FFFFFF;" border="0" src="https://braze-images.com/appboy/communication/assets/image_assets/images/690d1bd3ff130200631c4f89/original.jpg?1762466771" />
            </a>
        </td>
    </tr>
</table>
{% elsif is_valid_soho_prefix or {{custom_attribute.${new_york_geo}}} or {{custom_attribute.${source}}} == "Materials_Matter_Event_RSVPs_Soho" %}
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
    <tr>
        <td align="center" style="width: 100%">
            <a href="https://www.the-citizenry.com/pages/the-citizenry-flagship?lid={{${cblid} | lid: '1lelynaj8u7c'}}">
                <img alt="Visit Your Local Store" width="600" style="display: block; width: 100%; max-width: 100%; font-size: 20px; font-family: Arial, 'sans-serif'; color: #383633; background-color: #FFFFFF;" border="0" src="https://braze-images.com/appboy/communication/assets/image_assets/images/690d1bd3ff130200631c4f89/original.jpg?1762466771" />
            </a>
        </td>
    </tr>
</table>
{% elsif is_valid_denver_prefix or {{custom_attribute.${denver_geo}}} %}
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
    <tr>
        <td align="center" style="width: 100%">
            <a href="https://www.the-citizenry.com/pages/cz-at-interior-define?lid={{${cblid} | lid: '6vsendk2ravv'}}">
                <img alt="Visit Your Local Store" width="600" style="display: block; width: 100%; max-width: 100%; font-size: 20px; font-family: Arial, 'sans-serif'; color: #383633; background-color: #FFFFFF;" border="0" src="https://braze-images.com/appboy/communication/assets/image_assets/images/690d1bd3ff130200631c4f89/original.jpg?1762466771" />
            </a>
        </td>
    </tr>
</table>
{% else %}
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
    <tr>
        <td align="center" style="width: 100%">
            <a href="https://www.the-citizenry.com/pages/store-locator?lid={{${cblid} | lid: 'r3a7igh3wmwq'}}">
                <img alt="Visit Your Local Store" width="600" style="display: block; width: 100%; max-width: 100%; font-size: 20px; font-family: Arial, 'sans-serif'; color: #383633; background-color: #FFFFFF;" border="0" src="https://braze-images.com/appboy/communication/assets/image_assets/images/690d1bd3ff130200631c4f89/original.jpg?1762466771" />
            </a>
        </td>
    </tr>
</table>
{% endif %}
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px; background-color: #ffffff;">
    <tr>
        <td style="font-size: 0; line-height: 0; padding: 0; background-color: #ffffff;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #ffffff;">
                <tr>
                    <td width="33%" align="center" valign="top" style="padding: 0px 0px 0px 0px; font-size: 0; line-height: 0;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 200px;">
                            <tr>
                                <td>
                                    <a href="https://trade.interiordefine.com/?lid={{${cblid} | lid: 'ga20jip1mri7'}}"><img alt="Join the Trade Program" width="200" style="display: inline-block; width: 200px; max-width: 100%; min-width: 50px; font-size: 14px; font-family: Arial, 'sans-serif'; color: #525961;" border="0" src="https://braze-images.com/appboy/communication/assets/image_assets/images/6a72fef54530ec008a334136/original.jpg?1785921268"></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="33%" align="center" valign="top" style="padding: 0px 0px 0px 0px; font-size: 0; line-height: 0;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 200px;">
                            <tr>
                                <td>
                                    <a href="https://www.the-citizenry.com/pages/about?lid={{${cblid} | lid: 'pj4nvfyz0xih'}}"><img alt="Fair trade guaranteed" width="200" style="display: inline-block; width: 200px; max-width: 100%; min-width: 50px; font-size: 14px; font-family: Arial, 'sans-serif'; color: #383633;" border="0" src="https://braze-images.com/appboy/communication/assets/image_assets/images/6a72fef5a9290d0086848db5/original.jpg?1785921269"></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="33%" align="center" valign="top" style="padding: 0px 0px 0px 0px; font-size: 0; line-height: 0;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 200px;">
                            <tr>
                                <td>
                                    <a href="https://www.the-citizenry.com/pages/artisan-index?lid={{${cblid} | lid: 'lv59wdxr0z3u'}}"><img alt="Meet the Makers" width="200" style="display: inline-block; width: 200px; max-width: 100%; min-width: 50px; font-size: 14px; font-family: Arial, 'sans-serif'; color: #383633;" border="0" src="https://braze-images.com/appboy/communication/assets/image_assets/images/6a72fef5ef5fcb0086cca5d9/original.jpg?1785921269"></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>{% if {{subscribed_state.${6533ede0-aefb-4d02-82e5-a2cf5f66c471}}} != 'subscribed' %}<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #ffffff;">
                <tr>
                    <td align="center" style="width: 100%; font-size: 0; line-height: 0; padding: 0;">
                        <a href="{% landing_page_url eunugv %}?lid={{${cblid} | lid: '3i9zmtosk8ob'}}">
                            <img alt="Sign Up For Texts" width="600" style="display: block; width: 100%; max-width: 100%; font-size: 20px; font-family: Arial, 'sans-serif'; color: #383633; background-color: #FFFFFF;" border="0" src="https://braze-images.com/appboy/communication/assets/image_assets/images/68111fb6fa27ce00851ec8b9/original.jpg?1745952694" />
                        </a>
                    </td>
                </tr>
            </table>{% endif %}<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="text-align: center; background-color: #ffffff;">
                <tbody>
                    <tr bgcolor="#ffffff">
                        <td align="center" style="text-align: center; font-size: 0; line-height: 0; padding: 0;">
                            <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" style="text-align: center; background-color: #ffffff;">
                                <tbody>
                                    <tr bgcolor="#ffffff">
                                        <td width="20%" align="center" style="font-size: 0; line-height: 0;">
                                            <img src="https://braze-images.com/appboy/communication/assets/image_assets/images/681121f3c26b4600675a37a2/original.jpg?1745953267" style="display: block; border: 0; width: 100%; max-width: 100%;" />
                                        </td>
                                        <td width="20%" align="center" style="font-size: 0; line-height: 0;">
                                            <a href="https://www.instagram.com/the_citizenry?lid={{${cblid} | lid: 'amomk6oqb8cd'}}" target="_blank">
                                                <img src="https://braze-images.com/appboy/communication/assets/image_assets/images/681121f3fa27ce00651ed752/original.jpg?1745953267" alt="Instagram" style="display: block; border: 0; width: 100%; max-width: 100%;" />
                                            </a>
                                        </td>
                                        <td width="20%" align="center" style="font-size: 0; line-height: 0;">
                                            <a href="https://www.facebook.com/jointhecitizenry?lid={{${cblid} | lid: 'hao7blx9p6tr'}}" target="_blank">
                                                <img src="https://braze-images.com/appboy/communication/assets/image_assets/images/681121f3176d7b0074d8687f/original.jpg?1745953267" alt="Facebook" style="display: block; border: 0; width: 100%; max-width: 100%;" />
                                            </a>
                                        </td>
                                        <td width="20%" align="center" style="font-size: 0; line-height: 0;">
                                            <a href="https://www.pinterest.com/thecitizenry?lid={{${cblid} | lid: '0gy1gr7ilwdh'}}" target="_blank">
                                                <img src="https://braze-images.com/appboy/communication/assets/image_assets/images/681121f3e4ec31006643d576/original.jpg?1745953267" alt="Pinterest" style="display: block; border: 0; width: 100%; max-width: 100%;" />
                                            </a>
                                        </td>
                                        <td width="20%" align="center" style="font-size: 0; line-height: 0;">
                                            <img src="https://braze-images.com/appboy/communication/assets/image_assets/images/681121f351b97f00640ea7bf/original.jpg?1745953267" style="display: block; border: 0; width: 100%; max-width: 100%;" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>