{% assign ss26_start = "2026-07-22 05:00:00" | date: "%s" %}
{% assign ss26_end   = "2026-07-31 05:00:00" | date: "%s" %}
{% assign now = 'now' | date: "%s" %}
{% if {{subscribed_state.${b0366564-10c4-4b7f-b66a-0e74bbb0bc29}}} != 'subscribed' %}<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #ffffff;">
                <tr>
                    <td align="center" style="width: 100%; font-size: 0; line-height: 0; padding: 0;">
                        <a href="{% landing_page_url ef4pee %}?lid={{${cblid} | lid: 'scgeydj83agi'}}">
                            <img alt="Sign Up For Texts" width="600" style="display: block; width: 100%; max-width: 600px; margin: 0 auto; font-size: 20px; font-family: Arial, 'sans-serif'; color: #383633; background-color: #FFFFFF;" border="0" src="https://braze-images.com/appboy/communication/assets/image_assets/images/6a0fc1f67e3cee0081443578/original.png?1779417589" />
                        </a>
                    </td>
                </tr>
            </table>{% endif %}
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
  <tr>
    <td bgcolor="#484543" align="center" style="width: 100%">
      <!--[if (gte mso 9)|(IE)]>
<table align="center" border="0" cellspacing="0" cellpadding="0" width="400" style="background-color: #484543; width: 400px">
<tr>
<td bgcolor="#484543" align="center" valign="top" width="400" style="background-color: #484543; width: 400px">
<![endif]-->

      <table bgcolor="#484543" border="0" cellpadding="0" cellspacing="0" style="max-width: 300px; background-color: #484543;" align="center">
        <tr>
          <td align="center" style="vertical-align:middle; padding: 20px 50px 20px 0px">
            <a href="https://www.facebook.com/burrow?lid={{${cblid} | lid: 'z5k992sj8cmf'}}">
              <img class="icon" src="https://burrow-assets.s3.amazonaws.com/email.burrow/Templates/Footer+Icons/facebook.png" alt="Facebook" style="font-size: 8px; color: #FCF8F4">
            </a>
          </td>

          <td align="center" style="vertical-align:middle; padding: 20px 50px 20px 0px">
            <a href="https://twitter.com/hiburrow?lid={{${cblid} | lid: 'fqc5y93tmg31'}}">
              <img class="icon" src="https://burrow-assets.s3.amazonaws.com/email.burrow/Templates/Footer+Icons/twitter.png" alt="Twitter" style="font-size: 8px; color: #FCF8F4">
            </a>
          </td>

          <td align="center" style="vertical-align:middle; padding: 20px 50px 20px 0px">
            <a href="https://www.pinterest.com/hiburrow/?lid={{${cblid} | lid: '0fuv8t4sspor'}}">
              <img class="icon" src="https://burrow-assets.s3.amazonaws.com/email.burrow/Templates/Footer+Icons/pinterest.png" alt="Pinterest" style="font-size: 8px; color: #FCF8F4">
            </a>
          </td>

          <td align="center" style="vertical-align:middle; padding: 20px 0px 20px 0px">
            <a href="https://www.instagram.com/burrow/?lid={{${cblid} | lid: '6lqsuqtychun'}}">
              <img class="icon" src="https://burrow-assets.s3.amazonaws.com/email.burrow/Templates/Footer+Icons/instagram.png" alt="Instagram" style="font-size: 8px; color: #FCF8F4">
            </a>
          </td>
        </tr>
      </table>

      <table class="divider" align="center" cellpadding="0" cellspacing="0" width="100%" style="max-width: 400px; border-top: 1px solid #706D6B; border-bottom: 1px solid #706D6B;">
        <tr>
          <td class="footwrap" align="center" style="padding: 7px 0px 7px 0px;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 400px; text-align: center" align="center">

              <tr>
                <td align="center" style="padding: 15px 0 0 0; font-family: Arial, Helvetica, sans-serif; font-size:16px; -webkit-text-size-adjust:none; line-height:16px;" class="footerlinks">
                  <a style="text-decoration: none; color: #FCF8F4;" href="https://burrow.com/terms?lid={{${cblid} | lid: 'bjluwm1q2x26'}}">Terms</a>
                </td>
              </tr>

              <tr>
                <td align="center" style="padding: 20px 0 0 0; font-family: Arial, Helvetica, sans-serif; font-size:16px; -webkit-text-size-adjust:none; line-height:16px;" class="footerlinks">
                  <a style="text-decoration: none; color: #FCF8F4;" href="https://burrow.com/privacy?lid={{${cblid} | lid: 'yls1wk6wfh39'}}">Privacy</a>
                </td>
              </tr>

              <tr>
                <td align="center" style="padding: 20px 0 0 0; font-family: Arial, Helvetica, sans-serif; font-size:16px; -webkit-text-size-adjust:none; line-height:16px;" class="footerlinks">
                  <a style="text-decoration: none; color: #FCF8F4;" href="{{${set_user_to_unsubscribed_url}}}">Unsubscribe</a>
                </td>
              </tr>

            </table>
          </td>
        </tr>
      </table>

      <table align="center" border="0" cellpadding="0" cellspacing="0" style="max-width: 400px;">

        <tr>
          <td align="center" style="padding: 5px 15px 0px 15px;">
            <table border="0" cellpadding="0" cellspacing="0" style="max-width: 400px;" align="center">
              <tr>
<td class="foot3" align="center" style="vertical-align: top; width: 100%; color: #FCF8F4; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 17px; padding-top: 10px; font-style: italic">
  {% if now >= ss26_start and now < ss26_end %}*For a limited time, receive up to 30% off sitewide. 25% off orders under $2,000 or 30% off orders $2,000+. Free shipping on orders $2,000+. Offer expires July 31, 2026 at midnight EST. These products are not eligible for additional discounts. Please refer to individual product details for returns and exchange information. Select styles are final sale.{% else %}For a limited time, receive 25% off sitewide. Offer expires July 21, 2026 at midnight EST. These products are not eligible for additional discounts. Please refer to individual product details for returns and exchange information. Select styles are final sale.{% endif %}
</td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td align="center" style="padding: 5px 30px 20px 30px;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;" align="center">
              <tr>
                <td class="foot2" align="center" style="vertical-align: top; width: 100%; color: #FCF8F4; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 17px; padding-top: 10px">
                  15 W 27th Street, New York, NY 10001
                  <br> © 2026 Burrow
                </td>
              </tr>
            </table>
          </td>
        </tr>

      </table>

      <!--[if (gte mso 9)|(IE)]>
</td>
</tr>
</table>
<![endif]-->

    </td>
  </tr>
</table>